body{
	background: grey;
	color: black;
}
p{
	border:6px solid white;
}
#Pengalaman PJJ Selama Pandemi Covid-19{
	color: 10px
}
.box{
	background: white;
	padding: 10px;
}

<h1 style="color:Tomato;">Hello World</h1>
